body{
  background-image: url(Images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
 }

 .banner { 
  position: relative;
  top: 0; 
  left: 0; 
  background-color: black;    
  display: block;
  margin-left: auto;
  margin-right: auto;         
  width: 100%
 }

 .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .fb{
   right: 0px;
   position: absolute;
   z-index: 1;
 }
  .profile{
   right: 32px;
   padding-right: 5px;
   position: absolute;
   z-index: 1;
 }

 .nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav{
  width: 100%;
  margin-bottom: 50px;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-right: -4px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #cc9933;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.container{
  max-width: 100%;
  display: flex;
}

.intro{
  max-width: 30%;
  min-height: 58%;
 
  color: white;
  left: 10%;
  position: relative;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}



.video{
  position: fixed;
  left: 60%;
  top: 35%;
}

.subscribe{
  width: 25%;
  margin-left:10%;
}

.subscribe textarea{
  float: left;
  
}
.subscribe button{
  position: relative;
}

footer{
  bottom:0%;
  position: fixed;
  width: 100%;
}

small{
  position: relative;
  color: white;
  
  margin: auto;
  text-align: center;
  width: 100%;
}

.orderform{
  max-width: 100%;
  height: auto;
  

}

.details{
  max-width: 20%;
  min-height: auto;
  border-style: solid;
  border-color: white;
  margin-left: 17.7%;
  color: white;
  padding-bottom: 10px;
}

h1{
  font-size: 1.6em;
  color: white;
  padding-left: 5px;
}

textarea{
   width: 94%;
   margin-left: 5px;
   resize: none;
   
   
   
}

.input{
  margin-top: 10px;
  min-width: 20%;
  position: absolute;
  left: 61%;  
  top: 22%;
  border-style: solid;
  border-color: white;
  padding-bottom: 10px;
  color: white;
  
}

.inputmob{
  margin-top: 10px;
  width: 100%;
  position: relative;
  
  padding-bottom: 10px;
  color: white;
  
}

.inputmob h2{
    padding-left: 5px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    min-width: 28%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    margin-left: 5px;
    border: 2px solid #cc9900;    
    
}

.button1:hover {
    background-color: #cc9900;
    color: white;
    
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #cc9900;
    
    
}

.button2:hover {
    background-color: #cc9900;
    color: white;
    
}

.phonebutton{
  display: none;
  visibility: hidden;
}

.products{
  width: 52%;
  display: inline-block;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-left: 24%;
  margin-bottom: 20px;
  padding-right: 5px;
 
}

.products img{
  max-height: 150px;
  float: left;
  margin-right: 10px;
  
}

.products h3{
  color: white;
}

.products p{
  color: white;
  
}

.staff{
  width: 52%;
  display: inline-block;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-left: 24%;
  margin-bottom: 20px;
  padding-right: 5px;
 
}

.staff2{
  width: 52%;
  display: inline-block;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-left: 24%;
  margin-bottom: 20px;
  padding-left: 5px;
}

.staff img{
  max-height: 150px;
  float: left;
  margin-right: 10px;
  
}

.staff2 img{
  max-height: 150px;
  float: right;
  margin-left: 10px;
  
}

.staff h3{
  color: white;
}

.staff p{
  color: white;
  
}

.staff2 h3{
  color: white;
}

.staff2 p{
  color: white;
  
}

.history{
  width: 52%;
  height: 60%;
  display: inline-block;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-left: 24%;
  margin-bottom: 20px;
  
  color: white;
  padding-left: 20px;
 
}

.login{
  margin-top: 10px;
  max-width: 20%;
  position: relative;
  left:40%;
  top: 5%;
  border-style: solid;
  border-color: white;
  padding-bottom: 10px;
  color: white;
  
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}


@media screen and (max-width: 1220px){
  .video{
    left: 50%;
  }
}

@media screen and (max-width: 1400px){
  .video{
    left: 50%;
  }
}

@media screen and (max-width: 1024px){
  iframe{
    max-width: 300px;
    max-height: 200px;
   }


  .products{
    width:96%;
    padding-right: 0px;
    margin-left: 1%;
    
   }

   .nav li {
    width: 80px;
    border-bottom: none;
    height: 35px;
    line-height: 25px;
    font-size: 1em;
  }

  .input{
    width: 30%;
  }

  .details{
    max-width: 30%;
  }

  .login{
    max-width: 40%;
    left: 30%;
  }

  
}

.staff{
  width: 70%;
  margin-left: 15%;
 
}

.staff2{
  width: 70%;
  margin-left: 15%;
}

@media screen and (max-width : 755px){
  .intro{
    max-width: 100%;
    height: auto;
    left: 0;
    margin-left: 1%;
    margin-right: 1%
  }
  .video{
    visibility: hidden;
  }

  .input{
    display: none;
    visibility: hidden;
  }
  .details{
    max-width: 100%;
    margin-left: 1%;
    margin-right: 1%
  }

  .phonebutton{
    display: unset;
    visibility: visible;
    margin-left: 24%;
  }

  .login{
    max-width: 60%;
    left: 20%;
  }

  .staff{
  width: 90%;
  margin-left: 5%;
 
}

.staff2{
  width: 90%;
  margin-left: 5%;
}
}